services:
  influxdb3-core:
    container_name: influxdb3-dev
    image: influxdb:3-core
    ports:
      - "8181:8181"
    command: >
      influxdb3 serve
      --node-id=node0 
      --object-store=file
      --without-auth
      --data-dir=/var/lib/influxdb3
      --plugin-dir=/plugins
    volumes:
      - influxdb3_data:/var/lib/influxdb3
      - influxdb3_plugins:/plugins
    environment:
      INFLUXDB3_NODE_IDENTIFIER: 00
      INFLUXDB3_OBJECT_STORE: file

volumes:
  influxdb3_data:
  influxdb3_plugins: